<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
       {{>header}}
        <h1>{{errormessage}}</h1>
        </div>
        {{>footer}}
    </body>
</html>
