
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by TATA BHARAT YADAV.It uses data from <a href="https://openweathermap.org/">openweathermap</a> 
        and <a href="https://opencagedata.com/">opencagedata</a>  websites</p>
        <img class="potrait" src="/images/robo.jpg">
        {{>footer}}
        </div>
        
    </body>
</html>