<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
       {{>header}}
        <h1>{{help}}</h1>
        <p>Visit <a href="https://openweathermap.org/">openweathermap</a>
         and <a href="https://opencagedata.com/">opencagedata</a> these 2 websites for help</p>
        </div>
        {{>footer}}
    </body>
</html>

